body {
    background-image: url("pictures/oceanBackground.jpg");
    background-size: cover; 
    color: black;
    text-align: center;
    padding: 70px;
}
.table{
    background: rgba(255,255,255,0.7);
}
th, td{
    border-top: 1px solid black !important;
    overflow-y: visible;
    max-width: 1127px;
}

.table-scroll{
    max-height: 700px;
    width: 1127px;
}
.table-header {
    height: 50px;
    overflow-x: visible;
}
.td-id, .th-id {
    width: 50px;
}
.td-nimi, .th-nimi{
    width: 130px;
}
.td-kuvaus, .th-kuvaus{
    width: 509px;
}
.td-Kuvaus, .th-Kuvaus{
    width: 500px;
}
.td-kuvaus{
    text-align: left;
    max-width: 509px;
}
.td-Kuvaus{
    text-align: left;
    max-width: 509px;
}
.td-pvm, .th-pvm{
    width: 110px;
}
.td-kayttajaID, .th-kayttajaID{
    width: 110px;
}
.td-vaihe, .th-vaihe{
    width: 120px;
}
.td-delete, .th-delete{
    width: 70px;
}
.td-muokkaa, .th-muokkaa {
    width: 100px;
}
.btn {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
